body {
    text-align: center;
    background: #D00000;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

section {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 20px;
}

button {
    border: none;
    background: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 15px;
}

button:hover {
    background-color: rgba(0,0,255,.4);
}

main h1 {
    margin: 0;
    z-index: 5;
    position: fixed;
    top: 40%;
    left: 200px;
    font-size: 2rem;
    color: #080708;
}

section h1 {
    margin: 0;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section article {
    font-size: .8rem;
    height: 200px;
    overflow-y: auto;
    padding-right: 20px;
}

section article ul {
    list-style: none;
    padding: 0;
    line-height: 20px;
}

#tally {
    padding: 0;
    display: block;
    height: 400px;
    width: 90%;
    margin: 10% auto;
    position: relative;

    transform: rotateX(30deg);
}

#tally li {
    display: inline-block;
    position: absolute;
    top: -15000px;
    z-index: 1;
}

#tally li:nth-child(1n+1) {
    animation: rotatingfryA .5s forwards;
}

#tally li:nth-child(3n+1) {
    animation: rotatingfryB .5s forwards;
}

#tally li:nth-child(4n+1) {
    animation: rotatingfryC .5s forwards;
}

@keyframes rotatingfryA {
    from { transform: rotate(0deg); }
    to { transform: rotate(20deg); }
}

@keyframes rotatingfryB {
    from { transform: rotate(0deg); }
    to { transform: rotate(50deg); }
}

@keyframes rotatingfryC {
    from { transform: rotate(0deg); }
    to { transform: rotate(120deg); }
}




/* french fry styling */
#tally .french-fries {
    background-color: gold;
    height: 14px;
    width: 120px;
    box-shadow: -1px 2px 2px 2px goldenrod;
}
