body {
    text-align: center;
    background: #ffffff;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: monospace;
    transition: background 2s;
}

a {
    color: black;
}

section.corner-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    height: 50px;
    margin: 20px;
}

section.corner-menu.top-left {
    top: 0;
    left: 0;
}

section.corner-menu.top-right {
    top: 0;
    right: 0;
}

section.corner-menu.bottom-left {
    bottom: 0;
    left: 0;
    align-items: flex-start;
    flex-direction: column-reverse;
}

button {
    border: none;
    background: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 15px;
    padding: 0;
}

button:hover {
    background-color: rgba(0,0,255,.4);
}

main h1 {
    margin: 0;
    z-index: 5;
    position: fixed;
    top: 40%;
    left: 20%;
    font-size: 2rem;
    color: #ffffff;
}

section h1 {
    margin: 0;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section[data-content="toggled-panel"] {
    font-size: .8rem;
    padding-right: 20px;
    text-align: right;
    height: fit-content;
    max-height: 400px;
    z-index: 10;
}

section[data-content="toggled-panel"] ul {
    background-color: #fff;
    color: black;
    list-style: none;
    padding: 20px;
    min-height: 170px;
    overflow-y: auto;
    line-height: 20px;
    font-size: 1.1em;
    z-index: 2;
    min-width: 290px;
}

#orders, #settings {
    display: none;
}

#orders.show, #settings.show {
    display: block;
    border: solid black 3px;
}

#settings li {
    margin-bottom: 10px;
}

#settings li input[type="color"] {
    height: 25px;
    width: 25px;
}


/* media query for button sections */
@media (max-width: 500px) {
    section.corner-menu.top-right {
        top: 40px;
        left: 0;
        align-items: flex-start;
    }
}


/* fry pile and fries */
#tally {
    padding: 0;
    display: block;
    height: 400px;
    width: 90%;
    margin: 10% auto;
    position: relative;

    transform: rotateX(30deg);
}

#tally li {
    display: inline-block;
    position: absolute;
    top: -15000px;
    z-index: 1;
}

#tally li:nth-child(1n+1) {
    animation: rotatingfryA .5s forwards;
}

#tally li:nth-child(3n+1) {
    animation: rotatingfryB .5s forwards;
}

#tally li:nth-child(4n+1) {
    animation: rotatingfryC .5s forwards;
}

@keyframes rotatingfryA {
    from { transform: rotate(0deg); }
    to { transform: rotate(20deg); }
}

@keyframes rotatingfryB {
    from { transform: rotate(0deg); }
    to { transform: rotate(50deg); }
}

@keyframes rotatingfryC {
    from { transform: rotate(0deg); }
    to { transform: rotate(120deg); }
}




/* french fry styling */
#tally .french-fries {
    background-color: gold;
    height: 14px;
    width: 120px;
    box-shadow: -1px 2px 2px 2px goldenrod;
}

#tally .onion {
    transform: scale(.3);

    margin: 50px auto;
    width: 300px;
    height: 300px;
    border-radius: 80% 50%;
    background: radial-gradient(transparent 50%, goldenrod 50%);
    border: solid goldenrod 10px;

    box-shadow: 
        darkgoldenrod 8px 12px 0px 0px;
}

.onion:before {
    content: '';
    width: 230px;
    height: 240px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 80% 50%;
    display: block;

    border: solid goldenrod 10px;
}
    
.onion:after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    margin-top: -50px;
    background: darkgoldenrod;
    opacity: .8;
    
    box-shadow:
    240px -40px 0px 0px rgba(184, 134, 11, .8),
    100px 20px 0px 0px rgba(184, 134, 11, .8),
    1px -50px 0px 0px rgba(184, 134, 11, .8),
    10px -150px 0px 0px rgba(184, 134, 11, .8);
}

